<h1>Listing bayes_classifier_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bayes_classifier_categories.each do |bayes_classifier_category| %>
      <tr>
        <td><%= bayes_classifier_category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

