<!DOCTYPE html>
<html>
<head>
  <title>BayesClassifierRs</title>
  <%= stylesheet_link_tag    "bayes_classifier_rs/application", media: "all" %>
  <%= javascript_include_tag "bayes_classifier_rs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
